<% if(success_msg && success_msg != ''){ %>
    <div class="alert alert-success mt-4  mr-5 w-100"><%= success_msg %></div>
<% } else if(error_msg && error_msg != '') {%>
    <div class="alert alert-danger mt-4  mr-5  w-100 "><%= error_msg %></div>
<%} else if( error && error != '' ){%>
    <div class="alert alert-danger "><%= error%></div>
<%}%>